.logo-ac{
    font-size: 2rem;
}

.font-face-cb {
    font-family: "CitroenBlack";
    font-size: 1.2rem;
}

.search{
    font-size: 1.2rem;
}

.color-nav{
    background-color: rgb(255, 65, 45);
}

.search-btn{
    color: white;
    border-color: white;
    font-size: 1.2rem;
}

.search-btn:hover{
    background-color: #198754 !important;
}

.font-face-cl{
    font-family: "CitroenLight";
    font-size: 1rem;
    font-weight: bold;
}

.btn-hover:hover{
    background-color: rgba(145, 54, 54, 0.75);
}

.btn-hover{
    border-radius: 4px;
    transition: 0.6s;
}

.navbar-light .navbar-toggler {
    border-color: white;
}

.navbar-custom{
    color: white;
    text-decoration: none;
}

.navbar-custom:hover{
    color: white;
}

.drop-menu{
    background-color: rgb(255, 65, 45);
    border-color: rgb(255, 65, 45);
    font-size: 1.22rem;
}

.btn-success.dropdown-toggle:hover {
    background-color: rgba(145, 54, 54, 0.75);
    border-color: rgba(145, 54, 54, 0.75);
}

.drop-down-sections{
    color: #333333;
    text-decoration: none;
    font-family: "CitroenBlack";
    font-size: small;
}

.drop-down-sections:hover{
    color: #333333;
}

.btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle{
    background-color:rgba(145, 54, 54, 0.75);
    border-color: rgba(145, 54, 54, 0.75);
}

@media screen and (max-width: 1040px) {
    .font-face-cb {
        font-size: 0.9rem;
    } 

    .custom{
        font-size: 0.9rem;
    }
   
}
    
