.shopping-sum{
  margin-bottom: 20px;
  border-radius: 5px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.shopping-cart-titles{
    font-family: CitroenBlack;
    font-size: 1rem;
    margin: 0.5rem;
}

.shopping-sum-text{
    font-family: CitroenBlack;
    font-size: 1rem;
    margin: 0.5rem;
    color: rgb(149, 149, 149);
}

.price{
    text-align: right;
}

.total{
    color: black;
}

.checkout-btn{
    background-color: darkorange;
    color: white;
    border: darkorange 1px solid;
    padding: 10px;
    font-family: CitroenBlack;
    font-size: 1rem;
    cursor: pointer;
}

.back-to-offer-btn{
    width: 100%;
    background-color: rgb(255, 0, 0);
    color: white;
    border:   red 1px solid;
    padding: 10px;
    font-family: CitroenBlack;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
    border-radius: 5px;
}

.back-to-offer-btn:hover{
    background-color:green;
    text-decoration: none;
    border: none;
    color: white;
    transition: 0.2s;
}

@media screen and (max-width: 768px) {
    .shopping-sum{
        margin-left: 5%;
        margin-right: 0%;
        padding: 3%;
        width: 90% !important;
    } 

    .shopping-cart-titles{
        font-size: 0.8rem;
        margin: 0.5rem;
    }

    .shopping-sum-text {
        font-size: 0.8rem;
    }

    .checkout-btn{
        font-size: 0.8rem;
    }

    .back-to-offer-btn{
        font-size: 0.8rem;
    }

}