.shopping-sum{
  margin-bottom: 20px;
  border-radius: 5px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  margin-left: 20rem;
}

.shopping-cart-titles{
    font-family: CitroenBlack;
    font-size: 1rem;
    margin: 0.5rem;
}

.shopping-sum-text{
    font-family: CitroenBlack;
    font-size: 1rem;
    margin: 0.5rem;
    color: rgb(149, 149, 149);
}

.price{
    text-align: right;
}

.total{
    color: black;
}

.checkout-btn{
    background-color: darkorange;
    color: white;
    border: darkorange 1px solid;
    padding: 10px;
    font-family: CitroenBlack;
    font-size: 1rem;
    cursor: pointer;
}

.back-to-offer-btn{
    background-color: darkorange;
    color: white;
    border:   darkorange 1px solid;
    padding: 10px;
    font-family: CitroenBlack;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 5rem;
}


.back-to-offer{
    padding-left: 58.6rem;
}

.back-to-offer-btn{
    margin-bottom: 10rem;
}