.button-style{
    background-color:  darkorange;
    border-color:  darkorange;
    font-family: "CitroenBlack";
}

.btn:hover{
    background-color: green;
    border-color: green;
}

.btn-buy{
    margin-left: 2vh;
}

.btn-dec{
    margin-left: 0.5vh;
    background-color: red;
    border-color: red;
    padding-right: 1.7vh;
    padding-left: 1.7vh;
}

.btn-dec:hover{
    background-color: rgb(107, 5, 5);
    border-color: rgb(107, 5, 5);
}

.btn-plus{
    background-color: darkorange;
    border-color: darkorange;
}

.units-quantity{
    font-family: "CitroenLight";
    font-size: 1rem;
    margin-bottom: 0.4rem;
}